.header {
  background-color: #343a40;
  color: white;
  text-align: center;
}
.logo {
  font-weight: 500;
  color: #f8f9fa;
}
.hidden {
  display: none;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}

 html {
  width: 100%;
}

/* Form Input and Btn */
form.example {
  margin: auto;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
  opacity: .9;
  color: black;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  opacity: .3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
  opacity: .7;

}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 638px) {
  form.example {
    width: 45%;
  }
}

.geoBtn {
  color: #2196f3;
  text-align: center;
  opacity: .5;

}
.geoBtn:hover, :focus {
  color: rgb(39, 177, 39);
  opacity: .8;

}

/* Left Side of Screen */
.city-name-area {
  background-color: #f8f9fa;
  padding: 30px 40px 30px 40px;
  height: 100%;
}

/* 2 Day Forecast */
.two-day {
  background-color: #2196f3;
  color: white;
  margin: 15px;
  height: 100%;
}

/* Current Weather */
#weather-desc {
  font-weight: 300;
  font-size: 30px;
}
#temp {
  font-weight: 300;
  font-size: 80px;
}

.textCenter {
  text-align: center;
}

/* Loader */
.loader {
  margin: 50px auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Video and jumbotron */

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 0%;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;

  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.5;
  margin: 0  -1%
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
