.header {
  background-color: #343a40;
  color: white;
  text-align: center;
}
.logo {
  font-weight: 500;
  color: #f8f9fa;
}
.hidden {
  display: none;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}

/* Search Button and Input*/
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Left Side of Screen */
.city-name-area {
  background-color: #f8f9fa;
  padding: 30px 40px 30px 40px;
  height: 100%;
}

/* 5 Day Forecast */
.five-day {
  background-color: #007bff;
  color: white;
  margin-right: 30px;
  border-radius: 5%;
  height: 100%;
}

/* Current Weather */
#weather-desc {
  font-weight:300;
  font-size: 30px;
}
#temp {
  font-weight:300;
  font-size: 80px;
}

.textCenter{
text-align: center;}


/* Loader */
.loader {
  margin: 50px auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}